@charset "UTF-8";
/* CSS Document */

/*taiwan*/


#gallery
{
	float: left;	
	
}

#description
{
	margin-top: 400px;
}

#left
{
	margin-right: -100px;
	margin-left: 170px;
}

#right
{
	margin-left: 10px;
	margin-right: 50px;
}

.arrow:hover
{
	
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.24);
	color: yellow;
}


.arrow
{
	float: left;
	width: 100px;
	height: 100px;
	font-size: 40px;
	
	margin-top: 250px;
	background-color:black;
	color: white;
}

	

div
{
	font-size: 40px;

}


.navbar:hover
{
	box-shadow: 0 0 30px 10px rgba(0,0,0,0.24);
	background-color:peru;
	color: azure;
}

.navbar
{
	width: 10%;
	height: 80%;
	float:left;
	font-size: 20px;
	margin-top: 5px;
	position: sticky;
	margin-left: 130px;
	
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
	
}

#food
{
	width: 500px;
	height:300px;
float: left;
	
	margin-top: 50px;
	margin-right: 10px;
	margin-left: 120px;
	
	object-fit:cover;
	
}

.center
{
text-align: center;	
	align-content: center;
}

header
{
		text-align: center;
	font-size: 40px;
	background-color:whitesmoke; 
}

nav
{
	width: 100%;
	height: 50px;
background-color:wheat;
	position:sticky;
	
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
	grid-column-gap: 80px;
	grid-template-rows: 30px;
  padding: 10px;
	
	
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  
  font-size: 25px;
  text-align: center;
		
}



h2
{
	
	
}

h3
{
	
	margin-left: 80px;
	font-size: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}

section
{
	width: 100%;
	background-color: antiquewhite;
	height: 650px;
}



footer
{
	margin-top: 10px;
	font-size: 30px;
	margin-left: 180px; 
	position:absolute;
}

body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color:aliceblue;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}

ul
{
	margin-top: -10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
li
{
	margin-top: -5px;
}


/*
@media screen and (max-width: 1022px) {

	
	#flagG
	{
		margin-left: 10px;
		width: 200px;
		height: 200px;
	}
	
	#flagT
	{
		margin-left: 100px;
		width: 200px;
		height: 200px;
	}
	
	.grid-container {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
	grid-column-gap: 30px;
	grid-template-rows: 30px;
  padding: 10px;
	
	
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  
  font-size: 25px;
  text-align: center;
		
}
	
}
*/
